<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ConciseCSS</title>
    <meta name="description" content="Description of your website.">

    <!-- Link CSS -->
    <link rel="stylesheet" href="css/concise.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <h1>ConciseCSS Generator</h1>

    <div>
      Testando so mais um pouco do meu emmet
    </div>

    <!-- JS Files -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/concise.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
